@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Peachy Pure';
  src: url('~/assets/font/Peachy-Pure.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'Original Surfer', cursive; */
  font-family: 'Comfortaa', sans-serif;
  background: url('~/assets/img/background.jpg');
  background-size: cover;
}

*:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

/* Img */

.app-title {
  font-family: 'Peachy Pure', cursive;
  font-size: 8rem;
}

@media (max-width: 640px) {
  .app-title {
    line-height: 1;
    font-size: 23vw;
  }
}

.menu-list .item {
  @apply border-solid border-2 border-gray-300 rounded-lg p-4 m-4 flex;
}

.menu-list .item:hover {
  @apply outline outline-4 outline-teal-400 rounded-lg p-4 m-4 flex;
  outline-offset: -4px;
}

.menu-list {
  @apply border-solid border-2 border-cyan-800 m-2 p-1 rounded;
}
.card {
  @apply p-2 bg-blue-50 w-fit rounded border-solid;
}

.border {
  @apply border-2 border-gray-200 rounded m-2 p-2;
}
.item-details {
  @apply border-teal-200 rounded m-2 p-2;
  border-width: 10px;
}

.item,
.item label,
.option,
.option input[type='radio'],
.option label {
  cursor: pointer;
}

.size {
  order: 1 !important;
}
.type {
  order: 2 !important;
}

.options > div {
  order: 9;
}

button {
  @apply bg-cyan-800 text-white rounded p-2 m-2;
}
button:disabled {
  @apply bg-cyan-700 rounded p-2 m-2 text-cyan-500;
}

.customer input,
.customer select {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.input-group {
  @apply flex flex-col;
}

.input-group:not(:last-child) {
  @apply mb-2;
}

.input-group label {
  margin-bottom: 0.1rem;
}

input,
select {
  @apply border-2 border-teal-800 rounded p-2;
}

.cancel-confirm,
.modal {
  position: fixed;
  top: 50vh;
  right: 50vw;
  transform: translate(50%, -50%);
  @apply bg-yellow-300 p-5 border-2 border-green-950 rounded;
}

@media (max-width: 640px) {
  .cancel-confirm {
    width: 60vw;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
  }
}

/* Current Item */

.item.active {
  @apply outline outline-4 outline-teal-400;
  outline-offset: -4px;
}

.current-item {
  position: absolute;
  top: 2rem;
  left: calc(100% + 1.25rem);
  white-space: nowrap;
}

.current-item:active {
  @apply outline-yellow-400;
}

.item-details {
  position: relative;
}

@media (min-width: 640px) {
  .item-details {
    margin-right: 7.75rem;
    margin-left: -6rem;
  }
}

/* Order details */

.invoice {
  width: 300px;
}

@media (max-width: 640px) {
  .invoice {
    width: 100%;
  }
}

.invoice-item-name {
  white-space: nowrap;
}
.invoice-item-name p {
  word-wrap: break-word;
  max-width: 100px;
}

.invoice-dots {
  @apply mx-1 mb-2;
  border-bottom: 1px dotted black;
  width: 100%;
}

.invoice-items > div:hover p:not(.delete-item) {
  color: #fff;
}

.invoice-items > div:hover > .invoice-dots {
  border-color: #fff;
}

/* Tooltip */
[data-tooltip]::before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  z-index: 100;
  min-width: 100px;
  opacity: 0;

  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: yellow;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}
